/* Select all CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Sans, Calibri, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #f1f1f1;
}

/* App CSS */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header CSS */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: #fff;
  color: #545454;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
  font-weight: 700;
}

.logo {
  width: 68%;
  padding: 15px 0 10px 15px;
  font-weight: bold;
  font-size: 2rem;
  color: #ff6600;
  text-shadow: 1px 1px 4px #fff, 2px 2px 8px #ff6600;
}

.nav-items > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  list-style-type: none;
  font-size: large;
  font-weight: 800;
}

.nav-items > ul > li {
  padding: 10px;
}

.nav-items > ul > li .fa-solid {
  padding-top: 15%;
}

.nav-items > ul > li:hover {
  background-color: #fe7002;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.nav-items > ul > li .logout-btn,
.nav-items > ul > li .login-btn {
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  margin-right: 15px;
}

.nav-items > ul > li .logout-btn {
  background-color: rgb(236, 56, 56);
}

.nav-items > ul > li .login-btn {
  background-color:#00ad1d;
}

.nav-items > ul > li .logout-btn:hover,
.nav-items > ul > li .login-btn:hover {
  background-color: transparent;
}

/* Restaurant Body CSS */

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.search-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #c9c8c8;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.search-box > input {
  height: 40px;
  padding: 0px 10px;
  outline: none;
  border: none;
  background-color: #f1f1f1;
  width: 90%;
  font-size: 1.2rem;
}

/* error message css */
.error-container {
  text-align: center;
  font-size: large;
  margin: 20px 0;
}

/* Restaurant cards CSS */

.restaurant-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  row-gap: 20px;
}


.restaurant-card {
  width: 250px;
  height: 350px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(96, 96, 96, 0.1);
  cursor: pointer;
}

.restaurant-details > span {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: left;
  margin-left: 0;
  font-weight: 500;
}

.restaurant-details > span > h4 {
  text-align: center;
}

.restaurant-details > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: rgb(19, 176, 1);
  border-radius: 5px;
  padding: 0 5px 0;
  color: white;
}

.restaurant-card > span > h4:first-child .fa-star {
  font-size: small;
  padding: 0 5px 3px 0;
}

.restaurant-card:hover {
  transform: scale(0.99);
}

.search-icon {
  color: #cf5c05;
  font-size: 1.5rem;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.restaurant-logo {
  width: 100%;
  height: 65%;
  margin: 0px;
  border-radius: 8px 8px 0px 0px;
}

.restaurant-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 5px 0px;
}

.restaurant-details {
  height: fit-content;
  padding: 0px 10px;
  overflow: hidden;
  font-size: 15px;
}


.cousine,
.location {
  color: #828080;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 5px;
}

/*Shimmer CSS */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}


/* footer CSS Start*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  width: 100vw;
  text-align: center;
  background-color: var(--footer-bg-color);
  padding: 15px 10px 15px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.71);
  font-size: larger;
}

.footer > i {
  padding: 3px 5px 0;
  font-size: smaller;
}

.footer > a {
  font-weight: 700;
  color: darkblue;
}

.footer > a:hover {
  color: darkorange;
}

.fa-heart {
  color: darkred;
}

.footer > strong {
  padding-left: 5px;
  color: #000;
}
.footer > strong > span {
  color: #cc0f0f;
}
.footer > a > strong > span {
  color: darkorange;
}

/* footer CSS End*/
